body{
    background: #FFF url("{{ url_for('static', filename='images/abstract-digital-grid-black-background.jpg') }}") no-repeat center top;
    background-size: 1536px 864px; /* Set the width and height of the background image */
}

/* header{
    opacity: 85%;
}
header nav{
    height: 20px;
} */

.header-bg {
    position: relative;
    overflow: hidden;
}

.header-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1c2227; /* or any background color */
    opacity: 0.7; /* Adjust the opacity as needed */
    z-index: -1;
}


.log_form{
    padding-left: 250px;
    display: flex;
    margin-bottom: 10px;
}

.head_img{
    height: 40px;
    width: 40px;
    margin-right: 27px;
}

.pageContain{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 70%;
    margin-top: 25px;
    margin-left: 15%;
    position: relative;
    overflow: hidden;
}

.pageContain-bg {
    color: white;
    background-color: #1c2227; /* Ensure this background color has enough contrast with text */
    /* padding: 20px; */
    border-radius: 8px;
    position: relative;
    opacity: 0.9; /* Adjusted opacity for better visibility */
    z-index: 1; /* Ensure the content background is above other backgrounds */
}
/* #inputContainer form{ */
    /* font-size: 0.8rem; */
    /* height: 800px; */
/* } */
#mainContainer{
    display: flex;
    /* width: 80%; */
    /* margin: 20px 10%; */
    border-radius: 5px; 
}
#introContent{
    padding: 20px;
}
.optionLabel{
    margin-right: 20px;
}
#inputContainer{
    padding: 20px;
}


